@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300&display=swap');

:root {
    --main-color: rgb(14, 90, 71);
    --second-color: rgb(140, 175, 166);
    --third-color: rgb(206, 228, 222);
    --error-color: rgb(255, 111, 0);
    --serif: 'Lora', serif;
    --sans-serif: 'Open Sans', sans-serif;

}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: var(--serif);
    /* background-image: url("img/white-wall-texture.jpg");
    background-size: 100vw 80%; */
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 100%;
    margin: 0;
}

.bannerwrap {
    width: 40vw;
    background-image: url(img/Green.jpg);
    background-position: center;
    background-size: 200%;
    background-repeat: no-repeat;
    height: 100vh;
}

.logoBg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: rgba(0, 0, 0, 0.589);
    position: absolute;
    top: 20vh;
    width: 40vw;
}

.logo {
    width: 300px;
}


.discription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 55vw;
    padding: 1.7rem;
    flex-wrap: nowrap;
    align-items: center;
}

h2 {
    max-width: 36rem;
    font-size: 22px;
    text-align: left;
}


form {
    max-width: 36rem;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.inputwrap {
    display: flex;
    flex-flow: column wrap;
}

input {
    border-style: solid;
    border-width: 1px;
    border-color: var(--second-color);
    border-radius: .3rem;
    width: 17rem;
    height: 2rem;
    padding-left: 0.5rem;
    color: var(--main-color);
    font-size: 14px;

}

input:focus {
    background-color: var(--third-color);
    outline: none;
    border: 1px solid var(--main-color);
}

input:focus:invalid {
    border: 1px dashed var(--error-color);
}


::placeholder {
    font-family: var(--sans-serif);
    color: var(--second-color);
    font-size: 14px;
}

label {
    font-family: var(--sans-serif);
    font-size: 14px;
    margin-top: 1.2rem;
}

.error {
    color: var(--error-color);
    font-family: var(--sans-serif);
    height: 12px;
}

.buttonwrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    font-family: var(--serif);
    font-size: 16px;
    color: var(--main-color);
    width: 10rem;
    height: 2.5rem;
    background-color: white;
    border-style: solid;
    border-color: var(--main-color);
    border-radius: 1.2rem;
    margin: 2rem;
    transition: .3s;
}

button:hover {
    background-color: var(--main-color);
    color: white;
    transition: .3s;
    cursor: pointer;
}

.login {
    font-size: 14px;
}

a {
    font-family: 'Lora', serif;
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


@media (max-width: 1280px) {
    .wrapper {
        max-height: 100%;
        margin: 0;
    }

    .bannerwrap {
        width: 100vw;
        background-size: 100%;
        height: 30vh;
    }

    .logoBg {
        top: 6rem;
        width: 100vw;
    }

    .logo {
        width: 30vw;
    }

    .discription {
        width: 100vw;
        padding: 2rem;

    }

    h2 {
        text-align: center;
    }

    form {
        justify-content: center;
    }
}